* {
	margin:0;
	padding:0;
	border:0;
}
body {
	position: relative;
}
.hidden {
    height: 0;
    width: 0;
    opacity: 0;
    display: inline-block;
}
#login,#chat-inputs  {
	opacity: 0;
	position: relative;
	transition:1s;
}
#login {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#BEBEBE;
	z-index: 2;
}
#login div {
	margin: 0 auto;
    width: 40%;
    border: 1px solid white;
    border-radius: 15px;
    height: 200px;
    position: relative;
    top: 150px;
    background:#5F8696;
}
div#login-window p {
    text-align: center;
    color:white;
    font-weight:bold;
    margin-top:50px;
}
div#login-window input[type="name"] {
    display:block;
    width:80%;
    margin:15px auto;
    padding:6px 0;
    border-radius:4px;
    border:0 !important;
    text-align:center;
}
div#login-window input[type="submit"] {
    display:block;
    width:80%;
    margin:15px auto;
    padding:6px;
    border-radius:4px
}
#map {
	width: 100%;
	height: 50%;
	position: relative;
	cursor:pointer;
}
#map .player {
	position: absolute;
	display: inline-block;
	box-shadow: 0 0 1px;
	border-radius: 50%;
	transition:.3s;
}
#map .player:before, #map .player:after {
	display: inline-block;
	position: absolute;
}
#map__sandbox {
	position: relative;
	margin:0 auto;
	top:25px;
	border:1px solid black;
	background-color:#e4e4e4;
}
#chat {
	width:100%;
	height: 26%;
    max-height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#chat-dialog {
    width: 95%;
    position: relative;
    top: 2%;
    height: 38%;
	margin:0 auto;
    border: 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-line;
    padding: .5%;
    padding-bottom:40px;
}
#chat-dialog p.message {
	animation:fadeIn .8s;
	position: relative;
}
#chat-inputs {
    width: 96%;
    padding: 10px;
    margin: 10px auto 0;
    height: 18%;
}
#chat-inputs input {
	width: 80%;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 4px 3px;
}
#chat-inputs button {
	border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 4px 3px;
    width: 15%;
    float: right;
}
@keyframes slideTop {
	0% {
		top:-150px;
	}
	100% {
		top:150px;
	}
}
@-webkit-keyframes slideTop {
	0% {
		top:-150px;
	}
	100% {
		top:150px;
	}
}
@keyframes fadeIn{
	0% {
		opacity: 0;
		top:40px;
	}
	100% {
		opacity: 1;
		top:0px;
	}
}
@-webkit-keyframes fadeIn{
	0% {
		opacity: 0;
		top:40px;
	}
	100% {
		opacity: 1;
		top:0px;
	}
}